body,
 h1 {
    margin: 0;
  }

  header {
    height: 100vh;
    background-image: url(https://pictures.s3.yandex.net/frontend-developer/free-course/cover.jpg);
    background-color: #eee;
  }

  h1 {
    font-size: 140px;
    color: white;
  }
